$navbar-default-bg: #cccccc;
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
/*
 *= require devise_bootstrap_views
 */

ul{list-style-type: number;text-decoration: none;}
a:hover{
    text-decoration: none;
}
a{
  text-decoration: none;
  color: gray;
}
.padclass{
  margin-left: 10px;
}
.img-circular{
 width: 200px;
 height: 200px;
 background-size: cover;
 display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
}
