<h1>Manage Stocks</h1>
<div class="col-lg-12">
	<div class="well col-lg-12">
		<table class="table">
			<thead>
				<th>Company Name</th>
				<th>Stock Ticker</th>
				<th>Actions</th>
			</thead>
			<tbody>
				<% @stocks.each do |us|%>
					<tr>
						<td><%=us.name%></td>
						<td><%=us.ticker%></td>
						<td>
						<%=link_to user_stock_path(us), class: "btn btn-xs btn-danger", method: :delete, data: {confirm: "Are you sure ?"} do%>
							<i class="fa fa-trash"></i> Delete
						<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
